body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
section {
  margin-bottom: 100px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
}
.flexible-container {
  display: flex;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  margin-left: 5%;
}
.half-width img {
  width: 80%;
}
.orange-color {
  color: orange;
}
.hire-me-btn {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position:left;
}
.experience-area{
    background-image:url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position:left;
}
.experience-item{
    display:flex;
}
.full-stack-dev{
    width:40%;
    margin-left:5%;
    padding:20px;
    box-shadow:10px 10px 30px gray;
    border-image:linear-gradient(orange, tomato);
    border-image-slice:1;
    border-left:5px solid;
}
.baby-dev{
    width:40%;
    margin-left:5%;
    padding:20px;
    box-shadow:10px 10px 30px gray;
    border-image:linear-gradient(blue, skyblue);
    border-image-slice:1;
    border-left:5px solid;
}
footer p{
    text-align:center;
}